pre > code {
    padding: .5em;
    background-color: var(--code-background-color);
    font-size: var(--code-block-font-size);
    display: block;
    width: 100%;
    overflow-x: scroll;
    position: relative;
    &:hover {
        width: calc(100% + var(--toc-width));
        z-index: 1;
    }
    &::after {
        content: "";
        position: absolute;
        background: linear-gradient(
            90deg,
            var(--code-background-color-transparent),
            var(--code-background-color));
        top: 0;
        bottom: 0;
        right: 0;
        width: 1em;
    }
}

:not(pre) > code {
    background-color: var(--code-background-color);
    font-size: var(--code-inline-font-size);
    padding: .1em .3em;
}
@import "code-light.generated.scss";
