div.highlight > pre > code, > pre > code {
    padding: .5em;
    background-color: var(--code-color);
    display: block;
    width: 100%;
    overflow-x: scroll;
}

> :not(pre, div.highlight) code {
    background-color: var(--code-color);
    padding: .1em .3em;
}
@import "code-light.generated.scss";
