figure.figure-with-caption {
  > figure-parent {
    display: grid;
    grid-template-columns: repeat(var(--nr-items-horizontally), minmax(0, 1fr)); // see https://stackoverflow.com/a/52380579/1207489
    column-gap: 1em;
    row-gap: 1em;
  }
}
