header {
    font-family: var(--header-font);
    line-height: var(--header-height);

    display: block;
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: 100%;
    z-index: 4;
    a {
        text-decoration: inherit;
        color: inherit;
    }

    &.background, .menu, .sitelogo {
        background-color: var(--header-background-color);
    }
    &.background {
        z-index: 1;
    }
    &:not(.background) {
        display: flex;
    }
    .title {
        min-width: 25em;
        flex-grow: 1;
        background: linear-gradient(
        90deg,
        var(--header-background-color-transparent) 70%,
        var(--header-background-color));
    }
    @import "menu.scss";

    .sitelogo {
        @include blindFadeIn;
        margin: 0 .2em;
        flex-shrink: 0;
        font-size: 1.1rem;
        font-weight: 800;
        font-family: var(--header-font);
        color: var(--site-logo-color);
        width: var(--site-logo-width);
        overflow: hidden;
        page & {
            visibility: hidden;
        }
    }
}
