.sitelogo {
    /* needs to be outside of header tag, since we also use it to determine the
     * width of the left column in the page
     */
    @include blindFadeIn;
    margin: 0 .2em;
    font-size: 1.1rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--site-logo-color);
    page & {
        visibility: hidden;
    }
}

header {
    font-family: var(--header-font);
    line-height: var(--header-height);
    vertical-align: middle;

    display: block;
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: 100%;
    z-index: 3;
    a {
        text-decoration: inherit;
        color: inherit;
    }

    &.background, .menu, .sitelogo {
        background-color: var(--header-background-color);
    }
    &.background {
        z-index: 1;
    }
    &:not(.background) {
        display: flex;
    }
    .title {
        min-width: 25em;
        flex-grow: 1;
        background: linear-gradient(
        90deg,
        var(--header-background-color-transparent) 70%,
        var(--header-background-color));
    }
    @import "menu.scss"

}
