div.pre-metadata {
    height: .8em;
    border: var(--head-bottom-border);
    border-bottom-width: 0;
    background-color: var(--header-background-color);
}

div.metadata {
    position: sticky;
    top: calc(var(--header-height));
    background-color: var(--header-background-color);
    z-index: 2;
    padding: 0 1em;
    border: var(--head-bottom-border);
    border-top-width: 0;
    > * {
        position: relative;
        top: -.4em;
    }

    font-family: var(--metadata-font);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: .8em;
    margin-bottom: 2em;
    .metadata-item:not(.categories-and-tags) {
        white-space: nowrap;
        margin: 0 .2em;
        &:not(:first-child)::before {
            content: "\2022";
        }
    }
    .metadata-item.categories-and-tags {
        flex-basis: 100%;
        > a {
            text-decoration: inherit;
            color: var(--item-color);
            display: inline-block;
            border-radius: .4em;
            transition: color .5s, background-color .5s;
            background-color: var(--header-background-color);
            padding: .1em .2em;
            &.tag-button {
                --item-color: var(--tag-color);
            }
            &.category-button {
                --item-color: var(--category-color);
            }
            &:hover {
                color: white;
                background-color: var(--item-color);
            }
            &::before {
                content: "#";
            }
            &:not(:last-child)::after {
                content: ",";
            }
        }
    }
}


