div.metadata {
  position: sticky;
  top: calc(var(--header-height) + 0.5em);

  font-family: var(--metadata-font);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5em;
  font-size: 0.8em;
  font-variant: tabular-nums;
  padding-right: 0.2em;

  color: var(--tag-color);

  .metadata-item.published {
    color: var(--published-color);
    width: 110%;
    year {
      font-size: 1.8em;
      font-weight: 800;
      padding-bottom: 0;
      line-height: 0.8em;
    }
    year,
    date {
      display: block;
      width: 100%;
      text-align: right;
      padding-right: 0.2rem;
    }
    date {
      line-height: 0.7em;
    }
  }

  .metadata-item:not(.categories-and-tags) {
    white-space: nowrap;
    overflow: hidden;
  }
  .metadata-item.categories-and-tags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    width: 100%;
    padding-left: 0.4em;
    > * {
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-decoration: inherit;
      color: var(--item-color);
      display: inline-block;
      border-radius: 0.4em;
      transition: color 0.5s, background-color 0.5s;
      background-color: var(--page-background-color);
      &.tag-button {
        --item-color: var(--tag-color);
      }
      &.category-button {
        --item-color: var(--category-color);
      }
      &:hover {
        color: white;
        background-color: var(--item-color);
        max-width: unset;
      }
      &::before {
        content: "#";
      }
    }
  }
}
