div.metadata {
    position: sticky;
    top: calc(var(--header-height) + .2em);

    font-family: var(--metadata-font);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: .5em;
    font-size: .8em;
    font-variant: tabular-nums;
    padding-right: .2em;


    .metadata-item.published {
        year {
            font-size: 1.8em;
            font-weight: 800;
        }
        year, date {
            display: block;
            width: 100%;
            text-align: right;
            padding-right: .2rem;
        }
    }

    .metadata-item:not(.categories-and-tags) {
        white-space: nowrap;
        overflow: hidden;
        color: var(--tag-color);
    }
    .metadata-item.categories-and-tags {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5em;
        width: 100%;
        padding-left: .4em;
        > a {
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: inherit;
            color: var(--item-color);
            display: inline-block;
            border-radius: .4em;
            transition: color .5s, background-color .5s;
            background-color: var(--page-background-color);
            &.tag-button {
                --item-color: var(--tag-color);
            }
            &.category-button {
                --item-color: var(--category-color);
            }
            &:hover {
                color: white;
                background-color: var(--item-color);
                max-width: unset;
            }
            &::before {
                content: "#";
            }
        }
    }
}


