:root {
  --extra-header-height: 0px; /* don't change, to be overwriten by media query */
  font-size: var(--body-font-size);
}

page {
  background-color: var(--page-background-color);
  font-family: var(--body-font);
  color: var(--text-color);
  line-height: var(--body-line-height);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--header-font);
  }
  width: 100vw;
  display: block;
  margin-top: var(--header-height);
}

@import "metadata.scss";
page.branch-bundle {
  @import "page-branch.scss"
}

page.leaf-bundle {
  @import "page-leaf.scss"
}

@media print, screen and (max-width: 600px) {
  :root {
    --extra-header-height: var(--title-plus-date-height);
  }
  header .menu {
    max-width: 2em;
  }
  page.leaf-bundle {
    div.main-columns {
      display: block;
      --left-column-width: 0px;
    }
  }
}
