:root {
  --extra-header-height: 0px; /* don't change, to be overwriten by media query */
  font-size: var(--body-font-size);
}

@keyframes blindIn {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@mixin blindFadeIn {
  animation: blindIn 0.2s;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--page-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@keyframes blindIn {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

:target::before {
  // targets of links, scroll beyond header
  content: "";
  display: block;
  height: var(--calculated-header-height);
  margin-top: calc(-1 * var(--calculated-header-height));
}

@import "header.scss";

page { /*this is the part between the header and footer*/
  flex-grow: 1;
  font-family: var(--body-font);
  color: var(--text-color);
  line-height: var(--body-line-height);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--header-font);
  }
  width: 100vw;
  display: block;
  margin-top: var(--calculated-header-height);
}

a {
  color: var(--link-color);
}

.headerimage{
  position: relative;
  img {
    width: 100%;
  }
  h3 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0;
    margin: 0;
    font-size: 2.3em;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    color: white;
  }
  .message {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    font-size: .8em;
    font-family: var(--header-font);
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    color: white;

  }
}

.footer {
  margin-left: 1.5em;
}

@import "metadata.scss";
page.branch-bundle {
  @import "page-branch.scss"
}

div.homepage {
  @import "homepage.scss"
}
page.leaf-bundle {
  @import "page-leaf.scss"
}

@media print, screen and (max-width: 600px) {
  :root {
    --extra-header-height: var(--title-plus-date-height);
  }
  header .menu {
    max-width: 2em;
  }
  page.leaf-bundle {
    div.main-columns {
      display: block;
      --left-column-width: 0px;
      toc {
        display: none;
      }
    }
  }
}
