@import "taxonomy.scss";

.page-header {
  font-family: var(--header-font);
  > * {
    display: block;
  }
  > h1 {
    margin: 0 .4em;
    text-align: center;
  }
  > a {
    position: absolute;
    color: var(--text-color);
    margin: 0 1em;
    font-size: 1.3em;
    text-decoration: none;
  }
}

.metadata-item {
  display: inline;
  &.published,
  &.readingtime {
    &::after {
      content: "\2022";
    }
  }
}

h3.title {
  margin: 0.5em 0 0;
}

article {
  box-sizing: border-box;
  width: 100vw;
  height: calc(
    var(--branch-article-preview-height) +
      var(--branch-article-preview-gap-between-articles)
  );
  position: relative;
  &.header-image {
    background-image: linear-gradient(
        rgba(255, 255, 255, 1) 5%,
        rgba(255, 255, 255, 0) 15%,
        rgba(255, 255, 255, 0) 90%,
        rgba(255, 255, 255, 1) 95%
      ),
      var(--header-image);
    background-size: cover;
  }
  & > a {
    color: unset;
    text-decoration: none;

    display: block;
    padding-left: var(--branch-article-border-radius);
    padding-right: var(--branch-article-border-radius);
    background-color: var(--branch-article-background-color);
    backdrop-filter: var(--branch-article-backdrop-filter);
    -webkit-backdrop-filter: var(--branch-article-backdrop-filter);
    box-sizing: border-box;
    border-width: var(--branch-article-border-width);
    border-color: var(--branch-article-border-color);
    border-style: solid;
    border-radius: var(--branch-article-border-radius);
    width: var(--branch-article-preview-width);
    height: var(--branch-article-preview-height);
    margin-top: 0;
    margin-left: calc((100vw - var(--branch-article-preview-width)) / 2);
    margin-right: calc((100vw - var(--branch-article-preview-width)) / 2);
    margin-bottom: var(--branch-article-preview-gap-between-articles);
    position: relative;
    top: calc(var(--branch-article-preview-gap-between-articles) / 2);
    transition: background-color 0.2s;
    &:hover {
      background-color: var(--branch-article-background-color-hover);
    }
    & > div {
      mask-image: linear-gradient(#000 70%, transparent 95%);
      height: calc(100% - 2 * var(--branch-article-border-radius));
      .title {
        font-family: var(--header-font);
        font-size: var(--branch-article-title-font-size);
        color: var(--article-head-color);
      }
    }
  }
}
