
page {
    width: 100vw;
    display: block;
    margin-top: var(--header-height);

    img.headerimage:first-child {
        width: 100%;
    }
    div.main-columns {
        display: flex;
        width: 100vw;

        .left-column {
            width: var(--left-column-width);
            margin: 0 .2em;
            overflow: hidden;
            flex-shrink: 0;
        }
        article {
            > * {
                max-width: 100%;
                overflow: scroll;
            }
            min-width: 0;
            flex-grow: 1;
            flex-shrink: 1;
            span.sliding-into-header-title > h1 {
                @include blindFadeIn;
                font-family: var(--header-font);
                font-size: unset;
                color: var(--article-head-color);
                border-left: .8em solid var(--article-head-accentuator-color);
                padding-left: .3em;
                margin-left: calc(
                    var(--site-logo-width) - var(--left-column-width));

                &.show-possible-second-line {
                    position: absolute;
                    &::first-line {
                        opacity: 0;
                    }
                }

                &.slide-into-header {
                    &::before {
                        content: "\2500";
                        display: inline-block;
                        width: 1em;
                        color: var(--article-head-accentuator-color);
                        position: absolute;
                        transform: translateX(calc(-100% - 1px));
                    }
                    position: sticky;
                    top: calc(var(--header-height) / 2 - 0.9em / 2);
                    z-index: 3;
                    border-left-color: $COLOR-TRANSPARENT;
                    color: $COLOR-TRANSPARENT;
                    &::first-line {
                        color: var(--article-head-color);
                    }
                }
            }
        }
        toc {
            width: 6rem;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}
