$COLOR-TRANSPARENT: #00000000;
$header-background-color: #FFFFFF;
:root {
    /* max distance we should stay from right with clickable items*/
    --page-scrollbar-width: 16px;
    --page-background-color: white;
    --header-height: 2.4rem;
    --header-font: Arial, Helvetica, sans-serif;
    --metadata-font: Arial, Helvetica, sans-serif;
    --body-font: Georgia,Times,serif;
    --text-color: black;
    --site-logo-color: black;
    --menu-color: #384537;
    --menu-hover-background-color: #E0E7E6;
    --article-head-color: #384537;
    --article-head-accentuator-color: #384537;
    --site-logo-width: 3.4rem;
    /* if you choose something else, your titles will shift */
    --left-column-width: var(--site-logo-width);




    --header-background-color: #{$header-background-color};
    --header-background-color-transparent: #{change-color($header-background-color, $alpha: 0)};

    font-size: 1.3em;
}

@keyframes blindIn {
    from {transform: scaleY(0);}
    to {transform: scaleY(1);}
}

@mixin blindFadeIn {
    animation: blindIn .2s;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}


@keyframes blindIn {
    from {transform: scaleY(0);}
    to {transform: scaleY(1);}
}


div.metadata {
    font-family: var(--metadata-font);
    display: flex;
    justify-content: flex-start;
    font-size: .7em;
    margin-bottom: 2em;
    .metadata-item:not(.categories-and-tags) {
        white-space: nowrap;
        margin: 0 .2em;
        &:not(:first-child)::before {
            content: "\2022";
        }
    }
    .metadata-item.categories-and-tags {
        margin-top: -.3em;
        flex-grow: 1;
        text-align: right;
        > a {
            text-decoration: inherit;
            color: var(--item-color);
            display: inline-block;
            border: 2.5px solid var(--item-color);
            border-radius: .4em;
            padding: 0 .2em;
            margin: .2em;
            transition: color .5s, background-color .5s;
            background-color: var(--page-background-color);
            &.tag-button {
                --item-color: blue;
            }
            &.category-button {
                --item-color: red;
            }
            &:hover {
                color: white;
                background-color: var(--item-color);
            }
            &::before {
                content: "#";
            }
        }
    }
}

@import "header.scss";
@import "page.scss";
