$header-background-color: hsl(30, 10%, 90%);
$code-background-color: hsl(121, 10%, 85%);
$page-background-color: hsl(30, 20%, 95%)
:root {
  /* max distance we should stay from right with clickable items*/
  --page-scrollbar-width: 16px;
  --page-background-color: #{$page-background-color};
  --page-background-color-transparent: #{change-color(
    $page-background-color,
    $alpha: 0
  )};
  --header-height: 2.4rem;
  --title-plus-date-height: 2.2rem;
  --header-font: Arial, Helvetica, sans-serif;
  --metadata-font: Arial, Helvetica, sans-serif;
  --metadata-font-size: .8em;
  --toc-font: Arial, Helvetica, sans-serif;
  --body-font: Georgia, Times, serif;
  --body-font-size: max(12px, min(2vw, 18px));
  --body-line-height: 1.5;
  --text-color: hsl(121, 10%, 15%);
  --site-logo-color: black;
  --menu-color: #384537;
  --menu-hover-background-color: hsl(121, 10%, 70%);
  --article-head-color: #384537;
  --article-head-accentuator-color: #384537;
  --site-logo-width: 3.4rem;
  --left-column-width: var(--site-logo-width); /* must be equal for header to move in nicely */
  --published-color: hsla(121, 10%, 50%);
  --category-color: #5a6959;
  --head-bottom-border: 0px solid black;
  --caption-color: hsl(121, 10%, 50%);
  --link-color: hsl(250, 70%, 40%);
  --progress-bar-color: hsl(0, 20%, 70%);
  --progress-bar-height: 0.15em;
  --progress-in-document: 0; /* will be overriden in JS inline on body element */
  --fadeout-bar-height: 10px;

  --header-background-color: #{$header-background-color};
  --header-background-color-transparent: #{change-color(
      $header-background-color,
      $alpha: 0
    )};
  --code-background-color: #{$code-background-color};
  --code-background-color-transparent: #{change-color(
      $code-background-color,
      $alpha: 0
    )};
  --code-block-font-size: .8em;
  --code-inline-font-size: .9em;

  --toc-item-height: 1.8em;
  --toc-font-size: .75em;
  --toc-width: min(15rem, 30vw);
  --toc-hover-width: min(30rem, 50vw);
  --tag-color: #7c8c7b;

  /* branch lines are for overview pages (posts/tags/etc) */
  --branch-article-border-width: 2px;
  --branch-article-border-color: hsl(121, 10%, 70%);
  --branch-article-border-radius: 1.5em;
  --branch-article-title-font-size: 1.5em;
  --branch-article-metadata-color: hsl(121, 10%, 50%);
  --branch-article-background-color: hsla(121, 10%, 90%, 80%);
  --branch-article-background-color-hover: hsla(121, 10%, 100%, 90%);
  --branch-article-backdrop-filter: blur(10px);
  --branch-article-preview-width: 80vw;
  --branch-article-preview-height: max(25vw, 30vh);
  --branch-article-preview-gap-between-articles: 10vh;
}

@keyframes blindIn {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@mixin blindFadeIn {
  animation: blindIn 0.2s;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

@keyframes blindIn {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

:target::before {
  // targets of links, scroll beyond header
  content: "";
  display: block;
  height: var(--header-height);
  margin-top: calc(-1 * var(--header-height));
}

@import "header.scss";
@import "page.scss";
