{{ define "main" }}
{{ with (.Resources.GetMatch "header") }}
    <img class="headerimage" src="{{ .RelPermalink }}">
{{ end }}
<div class="main-columns">
    <div class="left-column"></div>
    <article>
        <span class="sliding-into-header-title">
            <h1 class="show-possible-second-line" aria-hidden="true">
                {{ .Title }}
            </h1>
            <h1 class="slide-into-header">{{ .Title }}</h1>
        </span>
        {{ partial "metadata.html" . }}
        {{ .Content }}
    </article>
    <toc></toc>
</div>
{{ end }}
