{{ if .Site.Params.comments.utteranc.enabled }}
<script
  src="//utteranc.es/client.js"
  repo="{{.Site.Params.comments.utteranc.repo}}"
  issue-term="{{ index .Site.Params.comments.utteranc "issue-term"}}"
  theme="{{.Site.Params.comments.utteranc.theme}}"
  crossorigin="anonymous"
  async
></script>
{{ end }}
{{ if .Site.Params.comments.giscus.enabled }}
<script
  src="//giscus.app/client.js"
  {{ range $key, $value := .Site.Params.comments.giscus }}
    {{ if ne $key "enabled" }}
      {{ printf "data-%s" $key | safeHTMLAttr}}="{{ $value }}"
    {{ end }}
  {{ end }}
  crossorigin="anonymous"
  async
></script>
{{ end }}
