{{/* documenation at bottom */}}

{{ define "partials/get-standard-image.html" }}
  {{ $VALID_TYPES := dict
    "header" (dict "extensions" (slice "svg" "png" "jpg") "aspect-ratio" (slice 1.99 2.01) )
    "header-low" (dict "extensions" (slice "svg" "png" "jpg") "aspect-ratio" (slice 2 6) )
    "header-high" (dict "extensions" (slice "svg" "png" "jpg") "aspect-ratio" (slice 1 2) )
  }}


  {{ $Resources := .Resources }}
  {{ $types := cond (reflect.IsSlice .type) .type (slice .type) }}
  {{ $return := 0 }}
  {{ range $types }}
    {{ if not (index $VALID_TYPES .) }}
      {{ errorf "Not a valid type: %s " . }}
    {{ end }}

    {{ if eq $return 0 }}
      {{ $type := . }}
      {{ $config := index $VALID_TYPES . }}
      {{ range $config.extensions }}
        {{ if eq $return 0 }}
          {{ $imagePath := printf "%s.%s" $type . }}
          {{ with $Resources.GetMatch $imagePath }}
            {{ $return = (dict "image" . "config" $config ) }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ if ne $return 0 }}
    {{ $width := -1 }}
    {{ $height := -1 }}
    {{ if eq $return.image.MediaType.SubType "svg"}}
        {{ $svgContent := $return.image.Content }}
        {{ $viewBoxSizes := split (index (split (index (split $svgContent `viewBox=`) 1) `"`) 1) ` ` }}
        {{ if ne (len $viewBoxSizes) 4 }}
            {{ errorf "Problem reading viewbox of %#v" $return.image.RelPermalink }}
        {{ end }}
        {{ $width =
          (sub (float (index $viewBoxSizes 2)) (float (index $viewBoxSizes 0))) }}
        {{ $height =
          (sub (float (index $viewBoxSizes 3)) (float (index $viewBoxSizes 1))) }}
    {{ else }}
        {{ $width = float $return.image.Width }}
        {{ $height = float $return.image.Height }}
    {{ end }}

    {{ with index $return.config "width" }}
      {{ if ne . $width }}
        {{ errorf "%s: Width ought to be %.1f but is %.1f"
          page.Title . $width }}
      {{ end }}
    {{ end }}

    {{ with index $return.config "height" }}
      {{ if ne . $height }}
        {{ errorf "%s: Height ought to be %.1f but is %.1f"
          page.Title . $height }}
      {{ end }}
    {{ end }}

    {{ with index $return.config "aspect-ratio" }}
      {{ $lower := (index . 0) }}
      {{ $upper := (index . 1) }}
      {{ if gt (mul $lower $height) $width }}
        {{ errorf "%s: Aspect-ratio (w/h) ought to be between %.2f and %.2f, but found w: %.1f, h: %.1f"
            page.Title $lower $upper $width $height }}
      {{ end }}
      {{ if lt (mul $upper $height) $width }}
        {{ errorf "%s: Aspect-ratio (w/h) ought to be between %.2f and %.2f, but found w: %.1f, h: %.1f"
            page.Title $lower $upper $width $height }}
      {{ end }}
    {{ end }}
    {{ warnf "Dimensions of %#v: %.1f %.1f" $return.image.RelPermalink $width $height }}
  {{ end }}
  {{ if eq $return 0 }}
    {{ $return = dict "image" false }}
  {{ end }}
  {{ return $return.image }}
{{ end }}

{{/*
Retrieves the standard image media from the page bundle, based on you ask.
Expects a "Resources" parameter, and a "type" parameter. Type is either string or slice of strings (more preferred first).

Tests are done to make sure that the image is of required dimensions

- header (svg,png,jpg), 
- 

*/}}
