<header class="background">
    <!-- we need this extra header here to provide a "background" which the
    text can scroll under (and the title over) -->
</header>
<header>
    <div class="sitelogo">
        <a href="{{ ref . "/" }}">
            {{ .Site.Title }}
        </a>
    </div>
    <div class="title"></div>
    <input type="checkbox" id="openverticalmenu" >
    <div class="menu" style="--nr-menu-items: {{ len .Site.Menus.main}}">
        <div class="menubox">
            {{ range .Site.Menus.main }}
                <a class="menu-item" href="{{ .URL }}">
                    {{ if .Pre }}
                        {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                        {{ $icon }}
                    {{ end }}
                    {{ $text := print .Name | safeHTML }}
                    {{ $text }}
                </a>
            {{ end }}
            <label class="menu-item-more" for="openverticalmenu">&#x22EE;</label>
        </div>
    </div>
</header>
