{{- partial "check-parameters.html" (dict
  "name" "layouts/partials/icon.html"
  "parameters" .
  "requiredParameters" (slice "icon")
  "optionalParameters" (slice))
-}}
{{- $icon := .icon -}}
{{- $ICONS := (dict
  "zoom-out" "\uea02"
  "zoom-in" "\uea03"
  "zip" "\uea04"
  "website" "\uea05"
  "website-alt" "\uea06"
  "users" "\uea07"
  "user" "\uea08"
  "upload" "\uea09"
  "unlink" "\uea0a"
  "trash-can" "\uea0b"
  "timer" "\uea0c"
  "tab" "\uea0d"
  "star-half" "\uea0e"
  "star-fill" "\uea0f"
  "star-empty" "\uea10"
  "signal" "\uea11"
  "shortcode" "\uea12"
  "shopping-basket" "\uea13"
  "share" "\uea14"
  "share-alt" "\uea15"
  "search" "\uea16"
  "search-alt" "\uea17"
  "scroll-down" "\uea18"
  "save" "\uea19"
  "rss-feed" "\uea1a"
  "rocket" "\uea1b"
  "remove-file" "\uea1c"
  "reload" "\uea1d"
  "printer" "\uea1e"
  "plug" "\uea1f"
  "package" "\uea20"
  "mouse" "\uea21"
  "mobile" "\uea22"
  "microphone" "\uea23"
  "mic" "\uea24"
  "menu" "\uea25"
  "map" "\uea26"
  "map-marker" "\uea27"
  "magnifier" "\uea28"
  "magnet" "\uea29"
  "link" "\uea2a"
  "laptop" "\uea2b"
  "laptop-phone" "\uea2c"
  "keyboard" "\uea2d"
  "image" "\uea2e"
  "headphone" "\uea2f"
  "harddrive" "\uea30"
  "game" "\uea31"
  "folder" "\uea32"
  "files" "\uea33"
  "empty-file" "\uea34"
  "download" "\uea35"
  "domain" "\uea36"
  "display" "\uea37"
  "display-alt" "\uea38"
  "database" "\uea39"
  "dashboard" "\uea3a"
  "cut" "\uea3b"
  "control-panel" "\uea3c"
  "cogs" "\uea3d"
  "cog" "\uea3e"
  "code" "\uea3f"
  "code-alt" "\uea40"
  "cloud-upload" "\uea41"
  "cloud-sync" "\uea42"
  "cloud-network" "\uea43"
  "cloud-download" "\uea44"
  "cloud-check" "\uea45"
  "camera" "\uea46"
  "calendar" "\uea47"
  "bulb" "\uea48"
  "bookmark" "\uea49"
  "bookmark-alt" "\uea4a"
  "bluetooth" "\uea4b"
  "ban" "\uea4c"
  "archive" "\uea4d"
  "alarm" "\uea4e"
  "alarm-clock" "\uea4f"
  "add-files" "\uea50"
  "thunder" "\uea51"
  "thunder-alt" "\uea52"
  "sun" "\uea53"
  "rain" "\uea54"
  "night" "\uea55"
  "drop" "\uea56"
  "cloudy-sun" "\uea57"
  "cloud" "\uea58"
  "travel" "\uea59"
  "surf-board" "\uea5a"
  "pyramids" "\uea5b"
  "underline" "\uea5c"
  "text-format" "\uea5d"
  "text-format-remove" "\uea5e"
  "text-align-right" "\uea5f"
  "text-align-left" "\uea60"
  "text-align-justify" "\uea61"
  "text-align-center" "\uea62"
  "strikethrough" "\uea63"
  "spellcheck" "\uea64"
  "sort-amount-dsc" "\uea65"
  "sort-amount-asc" "\uea66"
  "sort-alpha-asc" "\uea67"
  "pilcrow" "\uea68"
  "pagination" "\uea69"
  "page-break" "\uea6a"
  "line-spacing" "\uea6b"
  "line-double" "\uea6c"
  "line-dotted" "\uea6d"
  "line-dashed" "\uea6e"
  "italic" "\uea6f"
  "indent-increase" "\uea70"
  "indent-decrease" "\uea71"
  "bold" "\uea72"
  "spinner" "\uea73"
  "spinner-solid" "\uea74"
  "spinner-arrow" "\uea75"
  "hourglass" "\uea76"
  "tounge" "\uea77"
  "suspect" "\uea78"
  "speechless" "\uea79"
  "smile" "\uea7a"
  "sad" "\uea7b"
  "happy" "\uea7c"
  "friendly" "\uea7d"
  "cool" "\uea7e"
  "thought" "\uea7f"
  "t-shirt" "\uea80"
  "home" "\uea81"
  "gift" "\uea82"
  "cup" "\uea83"
  "crown" "\uea84"
  "briefcase" "\uea85"
  "spray" "\uea86"
  "flags-alt-1" "\uea87"
  "fireworks" "\uea88"
  "candy" "\uea89"
  "candy-cane" "\uea8a"
  "cake" "\uea8b"
  "baloon" "\uea8c"
  "trees" "\uea8d"
  "tree" "\uea8e"
  "sprout" "\uea8f"
  "mushroom" "\uea90"
  "mashroom" "\uea91"
  "leaf" "\uea92"
  "island" "\uea93"
  "flower" "\uea94"
  "bug" "\uea95"
  "volume" "\uea96"
  "volume-mute" "\uea97"
  "volume-medium" "\uea98"
  "volume-low" "\uea99"
  "volume-high" "\uea9a"
  "video" "\uea9b"
  "stop" "\uea9c"
  "shuffle" "\uea9d"
  "play" "\uea9e"
  "pause" "\uea9f"
  "gallery" "\ueaa0"
  "full-screen" "\ueaa1"
  "frame-expand" "\ueaa2"
  "forward" "\ueaa3"
  "backward" "\ueaa4"
  "target-customer" "\ueaa5"
  "seo" "\ueaa6"
  "network" "\ueaa7"
  "keyword-research" "\ueaa8"
  "graph" "\ueaa9"
  "bar-chart" "\ueaaa"
  "warning" "\ueaab"
  "unlock" "\ueaac"
  "ticket" "\ueaad"
  "ticket-alt" "\ueaae"
  "thumbs-up" "\ueaaf"
  "thumbs-down" "\ueab0"
  "teabag" "\ueab1"
  "shield" "\ueab2"
  "radio-button" "\ueab3"
  "question-circle" "\ueab4"
  "protection" "\ueab5"
  "power-switch" "\ueab6"
  "pointer" "\ueab7"
  "plus" "\ueab8"
  "music" "\ueab9"
  "more" "\ueaba"
  "more-alt" "\ueabb"
  "minus" "\ueabc"
  "lock" "\ueabd"
  "lock-alt" "\ueabe"
  "list" "\ueabf"
  "lifering" "\ueac0"
  "key" "\ueac1"
  "invention" "\ueac2"
  "information" "\ueac3"
  "infinite" "\ueac4"
  "help" "\ueac5"
  "heart" "\ueac6"
  "heart-fill" "\ueac7"
  "hand" "\ueac8"
  "funnel" "\ueac9"
  "flag" "\ueaca"
  "flag-alt" "\ueacb"
  "eye" "\ueacc"
  "cross-circle" "\ueacd"
  "close" "\ueace"
  "circle-plus" "\ueacf"
  "circle-minus" "\uead0"
  "checkmark" "\uead1"
  "checkmark-circle" "\uead2"
  "check-box" "\uead3"
  "bolt" "\uead4"
  "bolt-alt" "\uead5"
  "wheelchair" "\uead6"
  "weight" "\uead7"
  "syringe" "\uead8"
  "sthethoscope" "\uead9"
  "slim" "\ueada"
  "skipping-rope" "\ueadb"
  "pulse" "\ueadc"
  "microscope" "\ueadd"
  "hospital" "\ueade"
  "heart-monitor" "\ueadf"
  "first-aid" "\ueae0"
  "dumbbell" "\ueae1"
  "capsule" "\ueae2"
  "basketball" "\ueae3"
  "ambulance" "\ueae4"
  "service" "\ueae5"
  "restaurant" "\ueae6"
  "pizza" "\ueae7"
  "juice" "\ueae8"
  "fresh-juice" "\ueae9"
  "dinner" "\ueaea"
  "coffee-cup" "\ueaeb"
  "chef-hat" "\ueaec"
  "burger" "\ueaed"
  "write" "\ueaee"
  "world" "\ueaef"
  "world-alt" "\ueaf0"
  "school-bench" "\ueaf1"
  "school-bench-alt" "\ueaf2"
  "pencil" "\ueaf3"
  "pencil-alt" "\ueaf4"
  "library" "\ueaf5"
  "graduation" "\ueaf6"
  "eraser" "\ueaf7"
  "compass" "\ueaf8"
  "clipboard" "\ueaf9"
  "certificate" "\ueafa"
  "book" "\ueafb"
  "blackboard" "\ueafc"
  "shift-right" "\ueafd"
  "shift-left" "\ueafe"
  "pointer-top" "\ueaff"
  "pointer-right" "\ueb00"
  "pointer-left" "\ueb01"
  "pointer-down" "\ueb02"
  "exit" "\ueb03"
  "exit-up" "\ueb04"
  "exit-down" "\ueb05"
  "enter" "\ueb06"
  "direction" "\ueb07"
  "direction-rtl" "\ueb08"
  "direction-ltr" "\ueb09"
  "direction-alt" "\ueb0a"
  "chevron-up" "\ueb0b"
  "chevron-up-circle" "\ueb0c"
  "chevron-right" "\ueb0d"
  "chevron-right-circle" "\ueb0e"
  "chevron-left" "\ueb0f"
  "chevron-left-circle" "\ueb10"
  "chevron-down" "\ueb11"
  "chevron-down-circle" "\ueb12"
  "arrows-vertical" "\ueb13"
  "arrows-horizontal" "\ueb14"
  "arrow-up" "\ueb15"
  "arrow-up-circle" "\ueb16"
  "arrow-top-right" "\ueb17"
  "arrow-top-left" "\ueb18"
  "arrow-right" "\ueb19"
  "arrow-right-circle" "\ueb1a"
  "arrow-left" "\ueb1b"
  "arrow-left-circle" "\ueb1c"
  "arrow-down" "\ueb1d"
  "arrow-down-circle" "\ueb1e"
  "angle-double-up" "\ueb1f"
  "angle-double-right" "\ueb20"
  "angle-double-left" "\ueb21"
  "angle-double-down" "\ueb22"
  "vector" "\ueb23"
  "ux" "\ueb24"
  "slice" "\ueb25"
  "select-cursor" "\ueb26"
  "pallet" "\ueb27"
  "move" "\ueb28"
  "layout" "\ueb29"
  "layers" "\ueb2a"
  "highlight" "\ueb2b"
  "highlight-alt" "\ueb2c"
  "grid" "\ueb2d"
  "grid-alt" "\ueb2e"
  "crop" "\ueb2f"
  "brush" "\ueb30"
  "brush-alt" "\ueb31"
  "yen" "\ueb32"
  "wallet" "\ueb33"
  "rupee" "\ueb34"
  "pound" "\ueb35"
  "money-protection" "\ueb36"
  "money-location" "\ueb37"
  "euro" "\ueb38"
  "dollar" "\ueb39"
  "diamond-shape" "\ueb3a"
  "diamond-alt" "\ueb3b"
  "credit-cards" "\ueb3c"
  "coin" "\ueb3d"
  "calculator" "\ueb3e"
  "calculator-alt" "\ueb3f"
  "wheelbarrow" "\ueb40"
  "trowel" "\ueb41"
  "shovel" "\ueb42"
  "ruler" "\ueb43"
  "ruler-pencil" "\ueb44"
  "ruler-alt" "\ueb45"
  "paint-roller" "\ueb46"
  "paint-bucket-alt" "\ueb47"
  "helmet" "\ueb48"
  "hammer" "\ueb49"
  "construction" "\ueb4a"
  "construction-hammer" "\ueb4b"
  "bricks" "\ueb4c"
  "train" "\ueb4d"
  "train-alt" "\ueb4e"
  "taxi" "\ueb4f"
  "support" "\ueb50"
  "ship" "\ueb51"
  "scooter" "\ueb52"
  "road" "\ueb53"
  "reply" "\ueb54"
  "postcard" "\ueb55"
  "popup" "\ueb56"
  "plane" "\ueb57"
  "phone" "\ueb58"
  "phone-set" "\ueb59"
  "inbox" "\ueb5a"
  "helicopter" "\ueb5b"
  "envelope" "\ueb5c"
  "comments" "\ueb5d"
  "comments-reply" "\ueb5e"
  "comments-alt-2" "\ueb5f"
  "caravan" "\ueb60"
  "car" "\ueb61"
  "car-alt" "\ueb62"
  "bus" "\ueb63"
  "bullhorn" "\ueb64"
  "bubble" "\ueb65"
  "bridge" "\ueb66"
  "bi-cycle" "\ueb67"
  "anchor" "\ueb68"
  "target" "\ueb69"
  "target-revenue" "\ueb6a"
  "tag" "\ueb6b"
  "stats-up" "\ueb6c"
  "stats-down" "\ueb6d"
  "stamp" "\ueb6e"
  "revenue" "\ueb6f"
  "quotation" "\ueb70"
  "pin" "\ueb71"
  "pie-chart" "\ueb72"
  "paperclip" "\ueb73"
  "offer" "\ueb74"
  "notepad" "\ueb75"
  "license" "\ueb76"
  "investment" "\ueb77"
  "invest-monitor" "\ueb78"
  "handshake" "\ueb79"
  "grow" "\ueb7a"
  "delivery" "\ueb7b"
  "customer" "\ueb7c"
  "consulting" "\ueb7d"
  "cart" "\ueb7e"
  "cart-full" "\ueb7f"
  "briefcase-alt" "\ueb80"
  "apartment" "\ueb81"
  "agenda" "\ueb82"
  "zoom" "\ueb83"
  "zapier" "\ueb84"
  "youtube" "\ueb85"
  "ycombinator" "\ueb86"
  "yahoo" "\ueb87"
  "xrp" "\ueb88"
  "xbox" "\ueb89"
  "wordpress" "\ueb8a"
  "wordpress-fill" "\ueb8b"
  "windows" "\ueb8c"
  "whatsapp" "\ueb8d"
  "wechat" "\ueb8e"
  "webhooks" "\ueb8f"
  "vuejs" "\ueb90"
  "vs-code" "\ueb91"
  "volkswagen" "\ueb92"
  "vmware" "\ueb93"
  "vk" "\ueb94"
  "visa" "\ueb95"
  "vimeo" "\ueb96"
  "vercel" "\ueb97"
  "unsplash" "\ueb98"
  "ubuntu" "\ueb99"
  "typescript" "\ueb9a"
  "twitter" "\ueb9b"
  "twitter-original" "\ueb9c"
  "twitter-fill" "\ueb9d"
  "twitch" "\ueb9e"
  "tumblr" "\ueb9f"
  "trello" "\ueba0"
  "toyota" "\ueba1"
  "tiktok" "\ueba2"
  "tiktok-alt" "\ueba3"
  "tesla" "\ueba4"
  "telegram" "\ueba5"
  "telegram-original" "\ueba6"
  "tailwindcss" "\ueba7"
  "swift" "\ueba8"
  "svelte" "\ueba9"
  "stumbleupon" "\uebaa"
  "stripe" "\uebab"
  "steam" "\uebac"
  "stackoverflow" "\uebad"
  "squarespace" "\uebae"
  "spotify" "\uebaf"
  "spotify-original" "\uebb0"
  "soundcloud" "\uebb1"
  "soundcloud-original" "\uebb2"
  "snapchat" "\uebb3"
  "slideshare" "\uebb4"
  "slack" "\uebb5"
  "slack-line" "\uebb6"
  "skype" "\uebb7"
  "sketch" "\uebb8"
  "signal-app" "\uebb9"
  "shopify" "\uebba"
  "safari" "\uebbb"
  "reddit" "\uebbc"
  "react" "\uebbd"
  "quora" "\uebbe"
  "python" "\uebbf"
  "producthunt" "\uebc0"
  "postman" "\uebc1"
  "postgresql" "\uebc2"
  "playstation" "\uebc3"
  "play-store" "\uebc4"
  "play-store-fill" "\uebc5"
  "play-store-alt" "\uebc6"
  "pinterest" "\uebc7"
  "php" "\uebc8"
  "paypal" "\uebc9"
  "paypal-original" "\uebca"
  "patreon" "\uebcb"
  "paddle" "\uebcc"
  "opera" "\uebcd"
  "oculus" "\uebce"
  "npm" "\uebcf"
  "notion" "\uebd0"
  "nodejs" "\uebd1"
  "nodejs-alt" "\uebd2"
  "nissan" "\uebd3"
  "nextjs" "\uebd4"
  "netlify" "\uebd5"
  "netflix" "\uebd6"
  "mysql" "\uebd7"
  "mongodb" "\uebd8"
  "microsoft" "\uebd9"
  "microsoft-teams" "\uebda"
  "microsoft-edge" "\uebdb"
  "meta" "\uebdc"
  "meta-2" "\uebdd"
  "meta-1" "\uebde"
  "mercedes" "\uebdf"
  "medium" "\uebe0"
  "medium-alt" "\uebe1"
  "mastercard" "\uebe2"
  "markdown" "\uebe3"
  "mailchimp" "\uebe4"
  "magento" "\uebe5"
  "linkedin" "\uebe6"
  "linkedin-original" "\uebe7"
  "lineicons" "\uebe8"
  "lineicons-symbol" "\uebe9"
  "lineicons-symbol-alt" "\uebea"
  "lineicons-symbol-alt-2" "\uebeb"
  "lineicons-alt" "\uebec"
  "line" "\uebed"
  "laravel" "\uebee"
  "kubernetes" "\uebef"
  "jsfiddle" "\uebf0"
  "joomla" "\uebf1"
  "joomla-original" "\uebf2"
  "jcb" "\uebf3"
  "javascript" "\uebf4"
  "java" "\uebf5"
  "jamstack" "\uebf6"
  "jaguar" "\uebf7"
  "ios" "\uebf8"
  "instagram" "\uebf9"
  "instagram-original" "\uebfa"
  "instagram-fill" "\uebfb"
  "imdb" "\uebfc"
  "html5" "\uebfd"
  "hacker-news" "\uebfe"
  "grammarly" "\uebff"
  "google" "\uec00"
  "google-wallet" "\uec01"
  "google-pay" "\uec02"
  "google-drive" "\uec03"
  "google-cloud" "\uec04"
  "google-meet" "\uec05"
  "goodreads" "\uec06"
  "go" "\uec07"
  "github" "\uec08"
  "github-original" "\uec09"
  "git" "\uec0a"
  "gatsby" "\uec0b"
  "ford" "\uec0c"
  "flutter" "\uec0d"
  "flickr" "\uec0e"
  "fitbit" "\uec0f"
  "firefox" "\uec10"
  "firefox-original" "\uec11"
  "firebase" "\uec12"
  "figma" "\uec13"
  "facetime" "\uec14"
  "facebook" "\uec15"
  "facebook-oval" "\uec16"
  "facebook-original" "\uec17"
  "facebook-messenger" "\uec18"
  "facebook-line" "\uec19"
  "facebook-fill" "\uec1a"
  "ethereum" "\uec1b"
  "envato" "\uec1c"
  "edge" "\uec1d"
  "drupal" "\uec1e"
  "drupal-original" "\uec1f"
  "dropbox" "\uec20"
  "dropbox-original" "\uec21"
  "dribbble" "\uec22"
  "docker" "\uec23"
  "discover" "\uec24"
  "discord" "\uec25"
  "discord-alt" "\uec26"
  "diners-club" "\uec27"
  "digitalocean" "\uec28"
  "dialogflow" "\uec29"
  "dev" "\uec2a"
  "css3" "\uec2b"
  "creative-commons" "\uec2c"
  "cpanel" "\uec2d"
  "coral" "\uec2e"
  "connectdevelop" "\uec2f"
  "coinbase" "\uec30"
  "codepen" "\uec31"
  "cloudflare" "\uec32"
  "cisco" "\uec33"
  "chromecast" "\uec34"
  "chrome" "\uec35"
  "cash-app" "\uec36"
  "btc" "\uec37"
  "brave" "\uec38"
  "bootstrap" "\uec39"
  "bootstrap-5" "\uec3a"
  "bmw" "\uec3b"
  "bluetooth-original" "\uec3c"
  "blogger" "\uec3d"
  "bittorrent" "\uec3e"
  "bitcoin" "\uec3f"
  "bitbucket" "\uec40"
  "behance" "\uec41"
  "behance-original" "\uec42"
  "azure" "\uec43"
  "aws" "\uec44"
  "audi" "\uec45"
  "atlassian" "\uec46"
  "apple-pay" "\uec47"
  "apple-music" "\uec48"
  "apple-brand" "\uec49"
  "app-store" "\uec4a"
  "angular" "\uec4b"
  "angellist" "\uec4c"
  "android" "\uec4d"
  "android-original" "\uec4e"
  "amex" "\uec4f"
  "amazon" "\uec50"
  "amazon-pay" "\uec51"
  "amazon-original" "\uec52"
  "airtable" "\uec53"
  "airbnb" "\uec54"
  "adobe" "\uec55"
  "500px" "\uec56"
) -}}
{{- $iconchar := index $ICONS $icon -}}
{{- if not $iconchar -}}
  {{- errorf "Cannot find icon \"%s\"" $icon -}}
{{- end -}}
{{- index $ICONS $icon -}}
