{{ if or true (.Scratch.Get "katex") }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css" integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous">
<link rel="stylesheet" href="{{ (resources.Get "scss/katex.scss" | toCSS).Permalink }}" >

  <script src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js" integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t" crossorigin="anonymous"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      [...document.querySelectorAll("katex")].forEach(el => {
        katex.render(el.dataset.source, el, {
          throwOnError: !!el.dataset.throwOnError,
          displayMode: !el.dataset.inline,
        })
      })
    });
  </script>
{{ end }}
