<div class="metadata">
    <div class="metadata-item published">
        {{ $dateTime := .PublishDate.Format "2006-01-02" }}
        <time datetime="{{ $dateTime }}">
            <year>{{.PublishDate.Format "2006" }}</year>
            <date>{{.PublishDate.Format "Jan 2" }}</date>
    </div>
    <div class="metadata-item readingtime">
        {{.Page.ReadingTime}}
        {{ cond (gt .ReadingTime 1) "mins" "min" }}
    </div>

    <div class="metadata-item categories-and-tags">
        {{ with .Params.categories }}
            {{ range . }}
                {{ $href := print (absURL "categories/") (urlize .) }}
                <a class="category-button" href="{{ $href }}">{{ . }}</a>
            {{ end }}
        {{ end }}
        {{ with .Params.tags }}
            {{ range . }}
                {{ $href := print (absURL "tags/") (urlize .) }}
                <a class="tag-button" href="{{ $href }}">{{ . }}</a>
            {{ end }}
        {{ end }}
    </div>
</div>

