<toc>
    <div class="sticker">
        <ul class="menu-list">
            <li class="toc-h0"><a href="#page-top">{{.Title}}</a></li>
            {{ $headers := findRE "<h[1234].*?>(.|\n])+?</h[1234]>" .Content   }}
            {{ range $headers }}
                {{ $tagname := substr . 1 2 }}
                {{ $header := . | plainify | htmlUnescape }}
                <li class="toc-{{$tagname}}">
                    <a href='#{{ $header | anchorize }}'>{{ $header }}</a>
                </li>
          {{ end }}
        </ul>
    </div>
</toc>
