{{ define "main" }}
  <div class="homepage">
    {{ partial "headerimage" .Params.header }}

    {{ with .Params.bio }}
      <div class="bio">
        {{ with .image }}
          <img src="{{ . | absURL }}">
        {{ end }}
        {{ with .title }}
          <h3>{{ . }}</h3>
        {{ end }}
        {{ with .description }}
          <div class="description">{{ . }}</div>
        {{ end }}
        {{ with .links }}
          <div class="links">
          {{ range . }}
      <a{{with .href}} href="{{.}}"{{end}}>
        {{- with .icon }}{{ partial "icon" (dict "icon" .) }}{{end -}}
              {{.text}}
            </a>
          {{ end }}
          </div>
        {{ end }}
      </div>
  
    {{ end }}
    <div class="main">
      {{ partial "content.html" .Content}}
    </div>

    <h2 class="recent-posts">Recent posts</h2>
    
    {{$number_of_posts := .Params.Get "number-of-posts" | default 5}}
    {{$all_posts := where (where site.Pages.ByPublishDate.Reverse ".Section" "==" "posts") ".Kind" "==" "page" }}
    {{$posts := first $number_of_posts $all_posts }}
    {{ range $posts }}
      {{ $header := .Params.header }}
      <article {{ if (and $header $header.image)}}class="header-image" style="--header-image: url('{{ (.Resources.Get $header.image).Permalink }}')"{{ end }}> 
        <a href="{{ .RelPermalink }}">
          <div>
            <h3 class="title">{{ .Title }}</h3>
            {{ partial "metadata.html" (dict "Page" . "links" false)}}
            <div class="summary">
              {{ partial "get-summary.html" (dict "Page" .) }}
            </div>
          </div>
        </a>
      </article>
    {{ end }}
    {{ $posts_missing := sub (len $all_posts) $number_of_posts }}
    {{ if gt $posts_missing 0 }}
      <a class="more-posts" href="{{"/posts" | urlize}}">see {{ $posts_missing }} more posts</a>
    {{ end }}
  </div>
{{ end }}
