{{- partial "check-parameters.html" (dict
"name" .Name
"parameters" (default (dict) .Params)
"requiredParameters" (slice)
"optionalParameters" (slice "caption" "raw"))
-}}
{{- $raw := .Get "raw" | default false -}}
{{ if (eq .Parent.Name "figure-with-caption") }}
  {{ .Parent.Scratch.Add "children" (slice (dict "inner" (cond $raw .Inner (.Page.RenderString .Inner)) "caption" (.Get "caption"))) }}
{{ else }}
  {{ errorf "You need to use %s in a figure-with-caption. Current parent is %s"
      .Name .Parent.Name }}
{{end}}
