{{ partial "check-parameters.html" (dict "name" .Name "parameters" .Params "requiredParameters" (slice "caption") "optionalParameters" (slice "nr-items-horizontally")) }}

{{ if (len (trim .Inner " \t\n")) }}
  {{ .Scratch.Add "children" (slice ( .Inner | .Page.RenderString )) }}
{{ end }}
<figure class="figure-with-caption" style="--nr-items-horizontally: {{ (.Get "nr-items-horizontally")  | default (len (.Scratch.Get "children")) }}">
  <figure-parent>
  {{ range (.Scratch.Get "children") }}
  <figure-child>{{ . }}</figure-child>
  {{ end }}
  </figure-parent>
  <figcaption>{{ .Get "caption" | .Page.RenderString }}</figcaption>
</figure>
