{{ partial "check-parameters.html" (dict
"name" .Name
"parameters" (default (dict) .Params)
"requiredParameters" (slice)
"optionalParameters" (slice "caption" "nr-items-horizontally"))
}}


{{ if (len (trim .Inner " \t\n")) }}
  {{ .Scratch.Add "children" (slice (dict "inner" ( .Inner | .Page.RenderString ))) }}
{{ end }}
{{ $nr_items_horizontally := .Get "nr-items-horizontally" | default (len (.Scratch.Get "children" ))}}
{{ $page := .Page }}
<figure class="figure-with-caption" style="--nr-items-horizontally: {{ $nr_items_horizontally }}; ">
  <figure-parent>
  {{ range (.Scratch.Get "children") }}
    <figure-child>
      <figure>
        {{ .inner }}
        {{with .caption}}<figcaption>{{ . | $page.RenderString }}</figcaption>{{end}}
      </figure>
    </figure-child>
  {{ end }}
  </figure-parent>
  {{ with .Get "caption"}}<figcaption>{{ . | $page.RenderString }}</figcaption>{{end}}
</figure>
