{{- partial "check-parameters.html" (dict
  "name" .Name
  "parameters" (default (dict) .Params)
  "requiredParameters" (slice ) 
  "optionalParameters" (slice 0 1 2)
) -}}
{{- .Page.Store.Set "hasKatex" true -}}
{{- $name := .Name -}}
{{- range .Params -}}
{{- if not (in (slice "inline" "keepfont" "nothrowonerror") .) -}}
    {{ errorf "Unknown positional parameter %s in %s" . $name -}}
  {{ end -}}
{{- end -}}
{{- $inline := in .Params "inline" -}}
{{- $keepfont := in .Params "keepfont" -}}
{{- $throwonerror := not (in .Params "nothrowonerror") -}}
{{- $tag := cond $inline "katex-inline" "katex-block" -}}
<katex data-source="{{.Inner | safeHTMLAttr }}"{{if $throwonerror}} data-throw-on-error="true"{{end}}{{if $inline}} data-inline="true"{{end}} class="{{if $keepfont}} keepfont{{end}}">
  {{ .Inner -}}
</katex>
